* {
    margin: 0;
    padding: 0;
    line-height: 0;
}

div {
    margin: 50px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    width: 160px;
    height: 90px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px;
    margin: 0;
}

/* 1 */
#demo1 {
    border: 1px solid blue;

    &::after,
    &::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        transition: all .2s ease-in;
    }

    &::after {
        left: -5px;
        top: -5px;
        border-top: 1px solid blue;
        border-left: 1px solid blue;
    }

    &::before {
        right: -5px;
        bottom: -5px;
        border-right: 1px solid blue;
        border-bottom: 1px solid blue;
    }

    &:hover::before,
    &:hover::after {
        width: calc(100% + 9px);
        height: calc(100% + 9px);
    }

}

/* 2 */

#demo2 {
    background:
        linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
        linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
        linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
        linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
    background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;

    &:hover {
        animation: linearGradientMove .3s infinite linear;
    }
}

@keyframes linearGradientMove {
    100% {
        background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
}

/* 3 */
#demo3 {
    outline: 1px solid #333;
    outline-offset: -1px;

    &:hover {
        outline: none;
        background:
            linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
            linear-gradient(90deg, #333 50%, transparent 0) repeat-x,
            linear-gradient(0deg, #333 50%, transparent 0) repeat-y,
            linear-gradient(0deg, #333 50%, transparent 0) repeat-y;
        background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
        background-position: 0 0, 0 100%, 0 0, 100% 0;
        animation: linearGradientMove .3s infinite linear;
    }
}

/* 4 */
#demo4 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
        z-index: -2;
        animation: rotate 4s linear infinite;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 5px;
        z-index: -1;
        opacity: 0;
    }

    @keyframes rotate {
        100% {
            transform: rotate(1turn);
        }
    }
}

/* 5 */
#demo5 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
        z-index: -2;
        animation: rotate 4s linear infinite;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 5px;
        z-index: -1;
        opacity: 1;
    }

}

/* 6 */
#demo6 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 50% 50%;
        background-position: 0 0;
        background-image: linear-gradient(#399953, #399953);
        animation: rotate 4s linear infinite;
        z-index: -2;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 5px;
        z-index: -1;
        opacity: 0;
    }

}

/* 7 */
#demo7 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &::after {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: 50% 50%;
        background-position: 0 0;
        background-image: linear-gradient(#399953, #399953);
        animation: rotate 4s linear infinite;
        z-index: -2;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 5px;
        z-index: -1;
        opacity: 1;
    }

}

/* 8 */
#demo8 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &::before {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background: conic-gradient(transparent, red, transparent 30%);
        animation: rotate 4s linear infinite;
        z-index: -1;
    }
}


/* 9 */
#demo9 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    &::before {
        content: '';
        position: absolute;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background: conic-gradient(transparent, red, transparent 30%);
        animation: rotate 4s linear infinite;
        z-index: -2;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        background: white;
        border-radius: 5px;
        z-index: -1;
        opacity: 1;
    }
}

/* 10 */
#demo10 {
    position: relative;
    margin: auto;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 4px;
        bottom: 4px;
        right: 4px;
        left: 4px;
        line-height: 92px;
        font-size: 24px;
        background: yellowgreen;
        border: 2px solid #fff;
        cursor: pointer;
        color: #fff;
        z-index: -1;

    }

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: -20px;
        left: 0px;
        background: yellowgreen;
        //border-radius: 50%;
        transform: rotateZ(-90deg) translate(-100%, -100%);
        transform-origin: top left;
        transition: transform .3s;
        transition-timing-function: linear;
        z-index: -2;
    }

    &:hover::before {
        transform: rotateZ(0deg) translate(0%, -0%);
    }
}

/* 11 */
#demo11 {
    width: 200px;
    height: 100px;
    margin: auto;
    border: 10px solid;
    border-image: linear-gradient(45deg, gold, deeppink) 1;
    clip-path: inset(0px round 10px);
    animation: huerotate 6s infinite linear;
    filter: hue-rotate(360deg);
}

@keyframes huerotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rorate(360deg);
    }
}
